form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  margin-right: 5%;
  border: 1px solid #000000; /* Lighter blue border */
  border-radius: 5px;
  background-color: #11053b; /* Slightly lighter background for input */
  color: #f0f4ff; /* Light text inside input */
}

input[type="submit"] {
  padding: 10px;
  background-color: #11053b; /* Bright blue button */
  border-color: 1px solid #000000; /* Lighter blue border */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #1a0a52; /* Darker blue on hover */
}